/* cart */

.inline-success {
	color: #33CC33;
	display: inline;
	border: 1px solid #33CC33;	
	border-radius: 3px;
	padding: 3px;
	margin: 5px;
}
.inline-error {
	color: #FF6666;
	display: inline;
	border: 1px solid #FF6666;	
	border-radius: 3px;
	padding: 3px;
	margin: 5px;
}

#block-cart {
	background-color: #FCFCFC;
	border-radius: 5px;	
	margin: 5px;
	padding: 20px;	
	min-width: 900px;
	width: 95%;
}
#block-totals {
	background-color: #F7F7F7;
	border-radius: 5px;
	margin: 5px;
	padding: 20px;
	height: 100px;
	min-width: 900px;
	width: 95%;
}
#column-totals {
	color: #525C66;
	width: 20%;
	float: right;
}
#block-cart-buttons {
	min-width: 900px;
	width: 95%;
	margin: 5px;
	padding: 20px;
	text-align: center;
}
#button-checkout {
	width: 150px;
	height: 50px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	text-align: center;	
	border-radius: 5px;	
	border: none;
	background-color: #F1FAFF;
	color: #808080;
}
#button-checkout:hover {
	background-color: #F1FAFF;
	color: #808080;
	cursor: pointer;	
}
/* Left Column */
#block-payment-info {
	background-color: #EEEEEE;
	border-radius: 5px;
	margin: 5px;
	padding: 20px;
	margin-bottom: 50px;
}
#column-card-number {
	font-weight: 600;
	color: #31373D;
	width: 90%;		
}
#field-card-number {
	width: 80%;
}
#column-card-expiration {
	font-weight: 600;
	color: #31373D;
	width: 90%;		
}
#field-card-month {
	width: 30%;
}
#field-card-year {
	width: 40%;
}
#column-card-security {
	font-weight: 600;
	color: #31373D;
	width: 90%;		
}
#field-card-code {
	width: 30%;
}
#block-shipping-info {
	background-color: #F7F7F7;
	border-radius: 5px;
	margin: 5px;
	padding: 20px;
}
#column-shipping-name {
	font-weight: 600;
	color: #525C66;
	width: 90%;
}
#field-shipping-name {
	width: 100%;
}
#column-shipping-street-address {
	font-weight: 600;
	color: #525C66;
	width: 90%;	
}
#field-shipping-street-address {
	width: 100%;
}
#column-shipping-city {
	float: left;
	font-weight: 600;
	color: #525C66;
	width: 90%;	
}
#field-shipping-city {
	width: 100%;
}
#column-shipping-region {
	float: left;
	font-weight: 600;
	color: #525C66;
	width: 50%;
}
#field-shipping-region {
	width: 80%;
}
#column-shipping-postcode {
	float: left;
	font-weight: 600;
	color: #525C66;
	width: 50%;	
}
#field-shipping-postcode {
	width: 80%;
}
#column-shipping-country {
	font-weight: 600;
	color: #525C66;
	width: 90%;		
}
#field-shipping-country {
	width: 100%;
}
#block-shipping-speeds {
	background-color: #F7F7F7;
	border-radius: 5px;
	margin: 5px;
	padding: 20px;
}

.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}