.DS_Store
upload/admin/config.php
upload/config.php

upload/.htaccess
upload/system/cache/*
upload/image/*
upload/system/logs/*
upload/news/wp-config.php
upload/news/wp-content/uploads/*
upload/news/.htaccess

