//
// Load core variables and mixins
// --------------------------------------------------
// @import url("http://fonts.googleapis.com/css?family=Roboto:400,400italic,700");
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700");
//@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700,300italic");
@import "variables.less";
@import "mixins.less";

//
// Base
// --------------------------------------------------

html, body {
	height:100%;
}

body {
	margin:0;
	padding:0;
	text-rendering: optimizeLegibility;
	::-webkit-input-placeholder {
	   color: @text-color;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: @text-color;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: @text-color;
	}

	:-ms-input-placeholder {  
	   color: @text-color;
	}
}

body, input, textarea, select {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: @text-color;
	font-weight: 600;
	line-height: 1.5em;
	margin-top: 0;
}

p, span {
	font-weight: 400;
}
.single-post {
  	padding: 20px;
  	.sidebar {
		margin-top: 15px;
		padding-left: 35px;
  	}
  	p {
		margin-top: 20px;
  	}
  	.post-entry {
		border: none !important; 
  	}
  	.author {
		img {
	  		padding: 2px;
	  		background-color: @gray-lighter;
		}
		span {
	  		text-transform: uppercase;
	  		border-bottom: 1px solid @gray-lighter;
	  		margin: 0;
	  		padding: 0;
	  		display: block;
		}
  	}
  	.ssba {
		img {
	  		width: 5% !important;
		}
  	}
  	&.main {
  		border: none !important;
  		h1 {
  			margin-bottom: 70px;
  		}
  		img {
  			z-index: 1;
  			display: inline-block;
  		}
  		.col-md-12 {
  			padding: 0;
  		}
  		.col-md-8 h3 {
  			margin: 0;
  			z-index: 2;
  			position: relative;
  			background-color: rgba(127, 205, 238, 0.90);
  		}
  		.post-excerpt {
  			margin-bottom: 0 !important;
  		}
  		.col-md-8 p {
  			padding: 0 15px;
  			margin-top: 10px;
  			font-size: 14px !important;
  			margin-bottom: 10px !important;
  			font-family:'Open Sans',sans-serif;
  			a {
  				display: block;
  			}
  		}
  		h3.title a{
  			color: #ffffff;
  			opacity: 1;
  			z-index: 1000;
  			display: block;
  			padding: 15px;
  			margin-top: -60px;
  		}
  		.sidebar {
  			margin-top: -90px;
  			h3 {
  				background-color: none;
  			}
  		}
  	}
}
a.alert-links {
	background-color: @brand-primary;
	color: @white;
	padding: 10px 20px;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
}
.post-date {
  	text-transform: uppercase;
  	margin-left: 10px;
	color: @gray-light;
}
#sidebar {
	display: block;
	margin-top: 30px;
	.row {
		margin-bottom: 30px;
	}
}
.sidebar {
  	h3 {
		font-size: 18px !important;
		text-transform: uppercase !important;
		font-weight: 600;
		letter-spacing: 1px;
		margin-left: -15px;
  	}
	.widget_categories {
		ul {
			margin: 0 -15px;
			li {
		  		border-bottom: 1px solid @gray-lighter;
		  		padding: 10px 0 10px 15px;
		  		list-style-type: none;
		  		font-family:'Open Sans',sans-serif;
		  		font-size: 16px;
		  		font-weight: 300;
		  		a {
					color: @gray;
		  		}
		  		&:last-child {
		  			border-bottom: none;
		  		}
			}
	  	}
	}
  	.row {
		margin: 20px 0;
		h1, h2, h3, h4, h5, h6 {
	  		margin: 0;
	  		padding: 0;
		}
		h4 {
	  		font-size: 16px;
	  		a {
				color: @gray-dark;
	  		}
		}
		h5 {
	  		text-transform: uppercase;
	  		font-size: 14px;
	  		font-weight: 600;
	  		margin-bottom: 5px;
	  		color: @gray-light;
		}
		.post-widget-text {
	  		padding: 15px 15px 5px 15px;
		}
  	}
}
.recent_posts_extra_widget {
	ul {
		margin-left: 0;
		li {
	  		list-style-type: none;
	  		img {
				height: 150px;
	  		}
	  		.sidebar-list {
				display: block;
				margin-bottom: 10px;
	  		}
		}
  	}
}
.row {
	&.author {
		border: none !important;
		padding: 10px;
  	}
  	&.archives {
		border: none !important;
		padding: 10px;
		margin-bottom: 15px !important;
  	}
  	&.products {
  		margin-bottom: 20px;
  		display: block;
  		/*border: none !important;*/
  	}
}
ul.latest-products-container {
	clear: both;
	margin: 0;
	padding: 0;
	display: block;
	li {
		width: 50%;
		float: left;
		display: inline-block;
		text-align: center;
		border: 10px solid @gray-lighter;
		img {
			width: 100% !important;
			a {
				background-color: @brand-info;
			}
		}
		a {
			color:@white;
			background-color: @brand-primary;
			display: block;
			font-weight: 400;
		}
	}
}
.widget_jal_widget {
	margin-top: 30px;
}
ul.jaw_widget {
	list-style-type: none;
	margin: 5px -15px;
	li {
		list-style-type: none;
		padding: 10px 0;
		border-bottom: 1px solid @gray-lighter;
		font-size: 14px;
		font-family:'Open Sans',sans-serif;
		font-weight: 300;
		li {
			padding: 5px 0 2px 5px;
			border-bottom: @white;
			&:before {
				content: '-';
				margin-right:10px;
			}
		}
	}
	span {
		font-size: 18px;
		margin-right: 5px;
	}
}
