<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Forever Home Design Challenge</title>
  <link href="../img/favicon.ico" rel="shortcut icon">
  <link href="../css/app.css" rel="stylesheet">
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46786512-1', 'opentechcollaborative.cc');
  ga('send', 'pageview');

  </script>
</head>

<body>
<!-- BEG TOP BAR -->

<div class="fixed" id="top">
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
    <li class="name">
    <h1><a href="../index.html"><img alt="" src="../img/ICON-LOGO.png"
    style="margin-top: -4px; margin-right: 10px;" width="46px">Open Tech
    Collaborative</a></h1>
    </li>
    </ul>

  <section class="top-bar-section">
  <!-- Right Nav Section -->

  <ul class="right">
  <li><a href="../about.html">Learn More</a></li>

  <li class="active"><a class="scroll" data-easing="linear" data-speed=
  "500" href="#latest-news">Latest News</a></li>

  <li><a href="../about.html#contact-us">Contact Us</a></li>
  </ul>
  </section>
  </nav>
</div>

<!-- END TOP BAR -->

<!-- BEG BLOG POST -->
<img alt="" class="blog-large-image" src="../img/fhdcblog01.jpg">

<p class="right blog-caption">Read the unabridged rules online <a href=
"http://issuu.com/amakaruk/docs/afh___otf_-_forever_home_design_cha">here</a>
or download them <a href=
"https://github.com/AfH-Denver/Forever_Home_Design_Challenge/blob/master/Forever%20Home%20Design%20Challenge.pdf?raw=true">
here</a>.</p>

<section class="blog-article">
<div class="row blog-row">
<h1 class="blog-header-large small-10 small-centered columns">The Forever
Home Design Challenge</h1>
</div>

<div class="row">
<div class="small-10 small-centered columns">
<h3>Welcome</h3>

<p class="blog-p"><a href=
"http://denver.architectureforhumanity.org/">Architecture for Humanity
Denver</a> (AfH) and <strong>Open Tech Forever</strong> (OTF) are
demonstrating that it is possible to build an open source, compressed
earth block (CEB) house that meets the <a href=
"http://living-future.org/lbc">Living Building Challenge 2.1</a>
standard.</p>

<p class="blog-p">We invite you to join our international call to
action. Enter the contest and help us design a CEB home that we will
build in the Spring of 2014 on our 40 acre site in Denver,
Colorado.</p>

<p class="blog-p">We will document each home design and the systemic
body of knowledge that informs this process, so that anyone in the
world can both learn from and contribute to the project. This is an
open source house for the world. <strong>The Forever Home</strong>.</p>
</div>
</div>

<div class="row blog-row">
<h1 class="blog-text-block text-center">Receive email updates and
invitations to online sustainable design workshops</h1>

<div class="large-4 small-8 large-centered small-centered columns">
<form action=
"http://opentechcollaborative.us7.list-manage.com/subscribe/post?u=a2a2b02c4c16296211f9e5a11&amp;id=58a59d4727"
class="validate" id="mc-embedded-subscribe-form" method="post" name=
"mc-embedded-subscribe-form" novalidate="" target="_blank">
<div class="row collapse" style="margin-top: 20px;">
<div class="small-8 medium-8 columns">
  <input class="email" id="mce-EMAIL" name="EMAIL" placeholder=
  "your@email.com" required="" type="email" value=""> 
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

  <div style="position: absolute; left: -5000px;">
    <input name="b_a2a2b02c4c16296211f9e5a11_58a59d4727" type=
    "text" value="">
  </div>
</div>

<div class="small-4 medium-4 columns">
  <input class="postfix small button expand" name="subscribe" type=
  "submit" value="Subscribe">
</div>
</div>
</form>
</div>
</div>

<div class="row blog-row">
<div class="small-10 small-centered columns">
<h3>How to Enter</h3>

<p class="blog-p">Registering for the design challenge is easy:</p>

<ol class="blog-ol">
<li>Fill out the <a href=
"https://docs.google.com/forms/d/1-waN44kGZkuZpBWX9APkQYAzGp_T-VqwubBiyprNcc4/viewform">
entry form</a>.</li>

<li>Pay the entry fee ($20 minimum*) via PayPal or credit card
<a href=
"https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=62WXGK9V4JMBA">
here</a>.</li>

<li>You will receive a confirmation email from us.</li>
</ol><em>*Contributions above $20 will go toward the construction of
the Forever Home - Thank You</em>
</div>
</div>

<div class="row blog-row">
<div class="small-10 small-centered columns">
<h3>How to Submit Your Design</h3>

<p class="blog-p"><strong>Email entry:</strong></p>

<blockquote>
Katiegaildonahue@gmail.com
</blockquote>

<blockquote>
Subject: Forever Home Design Submission
</blockquote>

<p class="blog-p"><strong>Email entry:</strong></p>

<blockquote>
1451 South Dahlia St
</blockquote>

<blockquote>
Denver, CO 80222
</blockquote>

<blockquote>
C/O Katie Donahue
</blockquote>
</div>
</div>

<div class="row blog-row">
<div class="small-10 small-centered columns">
<h3>Deadline</h3>

<p class="blog-p">The deadline to register for the challenge is
<strong>January 1st, 2014</strong>.</p>
</div>
</div>

<div class="row blog-row">
<div class="small-10 small-centered columns">
<h3>Rules</h3>

<p class="blog-p">Read the complete contest rules <a href=
"http://issuu.com/amakaruk/docs/afh___otf_-_forever_home_design_cha">here</a>
or download them <a href=
"https://github.com/AfH-Denver/Forever_Home_Design_Challenge/blob/master/Forever%20Home%20Design%20Challenge.pdf?raw=true">
here</a>.</p>

<p class="blog-p">This project uses the <a href=
"http://living-future.org/sites/default/files/LBC/LBC_Documents/LBC%202_1%2012-0501.pdf">
Living Building Challenge 2.1</a> (PDF) standard in addition to rules
linked above.</p>
</div>
</div>

<div class="row">
<div class="small-10 small-centered columns">
<h3>Questions?</h3>

<p class="blog-p">Feel free to post questions <a href=
"https://github.com/AfH-Denver/Forever_Home_Design_Challenge/issues">here</a>.
You can also access the questions section (Issues) from the menu on the
right side of this page (login required).</p>
</div>
</div>
</section><!-- END BLOG POST -->
<!-- BEG FOOTER SECTION -->

<footer class="small-12 columns" id="home-footer">
<div class="row" style="margin: 2em auto;">
    <div class="large-8 small-12 columns">
      <h4 style="font-weight: 800;">Open Tech Collaborative</h4>
      <p>Manufacture Locally, Cooperate Globally</p>
      <ul class="inline-list footer-social">
        <li><a href="https://github.com/OpenTechCollaborative"><i class="fi-social-github" style="color: #69D2E7;"></i></a></li>
        <li><a href="https://twitter.com/OpenTechCo"><i class="fi-social-twitter" style="color: #A7DBD8;"></i></a></li>
        <li><a href="https://www.facebook.com/opentechforever"><i class="fi-social-facebook" style="color: #E0E4CC;"></i></a></li>
        <li><a href="http://vimeo.com/opentechforever"><i class="fi-social-vimeo" style="color: #F38630;"></i></a></li>
        <li><a href="mailto:info@opentechcollaborative.cc"><i class="fi-mail" style="color: #FA6900;"></i></a></li>
      </ul>
    </div>
    <div class="large-4 small-12 columns">
    <h4>Email Sign Up</h4>
    <p>Sign up for monthly news updates.</p>
      <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://opentechcollaborative.us7.list-manage.com/subscribe/post?u=a2a2b02c4c16296211f9e5a11&amp;id=58a59d4727" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_a2a2b02c4c16296211f9e5a11_58a59d4727" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="postfix small button expand"></div>
    </form>
</div>

<!--End mc_embed_signup-->
    </div>
    <div class="small-12 columns">
      <a class="scroll" data-speed="500" data-easing="linear" href="#top"><i class="fi-arrow-up right" style="margin-top: 1em; color: #fff;"> Back to Top</i></a>
    </div>
  </div>
</footer>

<!-- END FOOTER SECTION -->


<script src="../bower_components/jquery/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../js/app.js"></script>
<script src='../js/smooth-scroll.js'></script>
</body>
</html>