<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Tech Collaborative</title>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/app.css" />
    <script src="../bower_components/modernizr/modernizr.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46786512-1', 'opentechcollaborative.cc');
  ga('send', 'pageview');

  </script>

  </head>
  <body>

<!-- BEG TOP BAR -->
<div class="fixed" id="top">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="../index.html"><img src="../img/ICON-LOGO.png" width="46px" alt="" style="margin-top: -4px; margin-right: 10px;">Open Tech Collaborative</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="../about.html">Learn More</a></li>
      <li class="active"><a class="scroll" data-speed="500" data-easing="linear" href="#latest-news">Latest News</a></li>
      <li><a href="../about.html#contact-us">Contact Us</a></li>
    </ul>
  </section>
</nav>
</div>
<!-- END TOP BAR -->

<!-- BEG BLOG POST -->

<img src="osbh01-img/05.jpg" alt="" class="blog-large-image">

<p class="blog-caption right">The Colorado Top Bar v3.0 in London, UK</p>

<section class="blog-article">
  <div class="row blog-row">
    <h1 class="blog-header-large small-10 small-centered columns">The Open Source Beehives Project: Citizen Science in Action</h1>
  </div>

  <div class="row blog-row">
    <div class="small-10 small-centered columns">
      
      <div class="padding-bottom">
        <blockquote>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it is the only thing that ever has.” <cite>Margaret Mead</cite></blockquote>
      </div>

      <p class="blog-p flex-video vimeo widescreen"><iframe src="//player.vimeo.com/video/79178831" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

      <p class="blog-image-caption"><em>Video by Tristan Copley Smith</em></p>

    </div>
  </div>

  <div class="blog-row row">
    <div class="small-10 small-centered columns">

      <p class="blog-p">A few months ago, our team started thinking about the  <a href="http://content.time.com/time/magazine/article/0,9171,2149141,00.html">bee colony collapse problem</a>.</p>

      <p class="blog-p">This is a significant issue, with <a href="https://vimeo.com/76122038" alt="dire implications">dire implications</a>, and yet there were very few comprehensive solutions on the table. Having failed quite epically at preventing the problem in the first place, we had little faith in regulators and official bodies acting fast. This was an opportunity to help citizens solve the crisis quickly, and on their own terms.</p>

      <p class="blog-p">We began by recognising three important trends: <strong>maker</strong> culture, <strong>open source</strong> development and <strong>citizen science</strong>.</p>

      <p class="blog-p">If you like to make stuff, you are part of the <strong>maker movement</strong>. It’s a broad term for DIY in the 21st Century, especially when you’re building technology or building stuff <em>with</em> technology. With hundreds of publically accessible Makerspaces around the world, and a growing network of <a href="http://www.fabfoundation.org/">FabLabs</a>, the maker movement has a strong global presence, and significant productive capacity in <a href="http://themakermap.com/">many cities</a>.</p>

      <p class="blog-p"><img src="osbh01-img/01.jpg" alt=""></p>

      <p class="blog-image-caption">The Colorado Top Bar fits on a single sheet of plywood.</p>

      <p class="blog-p"><strong>Open source</strong> development enables remote parties from anywhere in the world to crowd-develop, share designs, and produce the best ‘stuff’ imaginable. This could be anything from software like <a href="http://www.youtube.com/watch?v=yVpbFMhOAwE#t=57">Linux</a>, to a car like <a href="http://www.osvehicle.com/">OSVehicle</a>, to a home like the <a href="http://www.wikihouse.cc/">Wikihouse</a>. Unlike traditional products, open source designs and software are shared freely online without proprietary restrictions, and can be protected with <a href="http://opensource.org/licenses">open licences</a>. Additionally, many open source hardware designs can be built using automated tools that are increasingly available thanks to the maker movement.</p>

      <p class="blog-p"><strong>Citizen science</strong> is an emerging trend, involving participation of everyday people (or, non-scientists) in large or small scale experiments. This could be crowd-analysing a huge trove of data, like the amazing <a href="http://stardustathome.ssl.berkeley.edu/">Stardust</a> project, or it could be citizens generating the data themselves, like the indigenous <a href="http://www.scidev.net/global/indigenous/multimedia/mapping-the-congo.html">mapping project</a> in the Congo. By nature, these projects embrace openness, encourage collaboration, and utilise innovative technology.</p>

    </div>
  </div>

  <div class="blog-row row">
    <h1 class="blog-text-block text-center">How could these powerful, citizen-led trends help solve the bee colony collapse issue?</h1>
  </div>

  <div class="blog-row row">
    <div class="small-10 small-centered columns">
      
      <p class="blog-p">Part of the answer fell into place when I visited <a href="http://www.fablabbcn.com">FabLab Barcelona</a> in Spain earlier this year. Here I met Tomas Diez and Jonathan Minchin who were embedding sensors into beehives and streaming the data to an open online platform called the <a href="http://www.smartcitizen.me/">Smart Citizen</a>. This allowed the team to remotely monitor health-indicating factors inside their colony, and if anything were to happen, the data could be analysed to help figure out what went wrong.</p>

      <p class="blog-p">Embracing the collaborative vibes, FabLab Barcelona and OTC joined forces to initiate the <a href="http://www.opensourcebeehives.net">Open Source Beehive Project</a> - a happy accident that turned out to be a good idea.</p>

      <p class="blog-p">We would develop open source sensors and beehive designs to help citizens cheaply and effectively build solutions to the colony collapse problem. With a global mesh network of these hives in operation, and partnerships with academic and research institutions, we wanted to generate new insight into where, when, and why colony collapse is happening, and create informed solutions around that data.</p> 

      <p class="blog-p">Back in Denver, we became more inspired by the <a href="http://www.wikihouse.cc">Wikihouse</a> project. If a human scale house could be downloaded and ‘printed’ using machines available in almost any FabLab, surely the same was possible for a beehive?</p> 

      <p class="blog-p">And so with the help of talented OTC collaborator (and beekeeper) Lenny Wayne Patterson, we got to work inventing the Colorado Top Bar hive.</p>

      <p class="blog-p">We aimed to prioritise:</p>

      <ul>
        <li>ease of manufacturing</li>
        <li>quality performance (insulation, durability etc)</li>
        <li>efficient use of materials (minimal waste)</li>
        <li>ease of assembly (no screws/glues)</li>
        <li>cost effectiveness</li>
        <li>portability</li>
        <li>biodynamics (natural beekeeping)</li>
      </ul>

      <p class="blog-p">From Oklahoma, Lenny-Wayne sent designs for us to study and review in Colorado. Within a few short weeks, we printed the first prototype.</p>

      <p class="blog-p"><img src="osbh01-img/02.jpg" alt=""></p>

      <p class="blog-image-caption">The Colorado Top Bar version 1.0.</p>

      <p class="blog-p"><strong>Prototype 1</strong> showed us what was possible, but was too large and heavy, requiring two 4x8 plywood sheets. This prevented the hive from being easily portable, and wasted more material than necessary. Nonetheless, the results were encouraging!</p>

      <p class="blog-p"><img src="osbh01-img/03.JPG" alt=""></p>

      <p class="blog-image-caption">The Colorado Top Bar version 2.0.</p>

      <p class="blog-p"><strong>Prototype 2</strong> showed a huge improvement. It successfully squeezed onto a single 4x8 sheet and was a much more manageable size. However, after learning that bees can produce over 200 pounds of honey in a single season, the leg strength needed improving. We also designed a locking nut that seemed great in theory, but vastly prolonged the fabrication process, and was not robust enough for our purposes.</p>

      <p class="blog-p"><img src="osbh01-img/04.jpg" alt=""></p>

      <p class="blog-image-caption">The Colorado Top Bar version 3.0.</p>

      <p class="blog-p"><strong>Prototype 3</strong> (current version) is getting very close to the mark. This design is far more robust, and uses a simpler and more effective locking mechanism in the form of hole and peg joints. After speaking with Andre Houssney of <a href="http://www.zambeezi.com/">Zambeezi</a>, we learned that the top bars shouldn't be longer than 16.5 inches, otherwise the combs will deform - ours is currently 21.5 inches long.</p>

      <p class="blog-p">Once the design is improved, we will roll focus on upgrading our sensor board to include volatile organic compound sensors (for pesticides), weight sensors (for honey measurement), and innovative vibration sensors that can monitor the mood and behaviour of a colony. This means that soon, you will be able to order or build a beehive at low cost, log and monitor your colonies health remotely (there is an iPhone app for doing this on the move) and become part of the solution to this global environmental problem.</p>

      <p class="blog-p">If you have interest in participating in this project, or any skills in design, electronics, or sensor technologies, we could really use your help. Please read our <a href="http://community.opensourcebeehives.net/t/open-letter-to-collaborators-please-share/91">Open Letter to Collaborators</a>, sign up to the <a href="http://opensourcebeehives.us7.list-manage2.com/subscribe/post?u=295deb81534dfcfc2d3483505&id=dc4cfedb24">project newsletter</a>, or email the project directly on <a href="mailto:hello@opensourcebeehives.net">hello@opensourcebeehive.net</a>. Monetary donations are also very helpful to help cover our prototyping costs.</p>

      <p class="blog-p"><a href="https://www.paypal.com/es/cgi-bin/webscr?cmd=_flow&SESSION=FK3cs9GWgmwQN7JeSNUPKsrHyM1j2sd3AS11A3O6TVUl6jZ0VztXbIIxQqG&dispatch=5885d80a13c0db1f8e263663d3faee8def8934b92a630e40b7fef61ab7e9fe63" class="button" target="_blank">Support OSBH</a></p>

      <p class="blog-p">We will continue to post major developments as the project continues!</p>

      <p class="blog-p">Thanks for all you do,</p>

      <p class="blog-p"><em>Tristan Copley Smith</em></p>


    </div>
  </div>
</section>

<!-- END BLOG POST -->

<!-- BEG FOOTER SECTION -->

<footer class="small-12 columns" id="home-footer">
<div class="row" style="margin: 2em auto;">
    <div class="large-8 small-12 columns">
      <h4 style="font-weight: 800;">Open Tech Collaborative</h4>
      <p>Manufacture Locally, Cooperate Globally</p>
      <ul class="inline-list footer-social">
        <li><a href="https://github.com/OpenTechCollaborative"><i class="fi-social-github" style="color: #69D2E7;"></i></a></li>
        <li><a href="https://twitter.com/OpenTechCo"><i class="fi-social-twitter" style="color: #A7DBD8;"></i></a></li>
        <li><a href="https://www.facebook.com/opentechforever"><i class="fi-social-facebook" style="color: #E0E4CC;"></i></a></li>
        <li><a href="http://vimeo.com/opentechforever"><i class="fi-social-vimeo" style="color: #F38630;"></i></a></li>
        <li><a href="mailto:info@opentechcollaborative.cc"><i class="fi-mail" style="color: #FA6900;"></i></a></li>
      </ul>
    </div>
    <div class="large-4 small-12 columns">
    <h4>Email Sign Up</h4>
    <p>Sign up for monthly news updates.</p>
      <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://opentechcollaborative.us7.list-manage.com/subscribe/post?u=a2a2b02c4c16296211f9e5a11&amp;id=58a59d4727" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_a2a2b02c4c16296211f9e5a11_58a59d4727" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="postfix small button expand"></div>
    </form>
</div>

<!--End mc_embed_signup-->
    </div>
    <div class="small-12 columns">
      <a class="scroll" data-speed="500" data-easing="linear" href="#top"><i class="fi-arrow-up right" style="margin-top: 1em; color: #fff;"> Back to Top</i></a>
    </div>
  </div>
</footer>

<!-- END FOOTER SECTION -->
<script src="../bower_components/jquery/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../js/app.js"></script>
<script src='../js/smooth-scroll.js'></script>
</body>
</html>